@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Cantarell");
@import url("https://fonts.googleapis.com/css?family=Handlee");
@import url("https://fonts.googleapis.com/css?family=Cantarell");
@import url("https://fonts.googleapis.com/css?family=Handlee");

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  color: #655046;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.8;
  letter-spacing: 0.08em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
  word-break: break-all;
}

#contents,
footer,
header {
  zoom: 1;
}

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

#mainvisual {
  position: relative;
}

#mainvisual .main_logo  {
  position: absolute;
  z-index: 1;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*------------------------------------------------- PC版ここから -------------------------------------------------*/

.blog_nav {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.pagination {
  color: #777;
  font-size: 90%;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

nav {
  display: block;
}

.pagination a {
  color: inherit;
  text-decoration: none;
}

.nav_text {
  width: 60px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination .page-numbers {
  border: 1px solid #eee;
  background-color: #f0ebea;
  color: #655046;
  font-weight: bold;
  display: none;
}

.pagination .current {
  background-color: #8e6666;
  color: #ffffff;
}

.pagination .page-numbers {
  padding: 8px 18px;
  margin-right: 6px;
}

.image {
  max-width: 100%;
  height: auto;
}

.site-header {
  border-bottom: solid 1px #eee;
  margin-bottom: 5rem;
}

.jumbotron {
  background-color: #333;
  background-position: center;
  background-size: cover;
}

.jumbotron-overlay {
  background-color: rgba(255, 255, 255, 0.7);
}

.jumbotron-content {
  padding-bottom: 90px;
  padding-top: 150px;
  text-align: center;
}

.jumbotron-title {
  margin: 10px 0 0 0;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.34em;
  text-shadow: 1px 1px 1px rgb(255 255 255 / 40%);
}

.subheader {
  font-family: 'Cantarell', sans-serif;
  font-size: 40px;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.18em;
  text-shadow: 1px 1px 1px rgb(255 255 255 / 40%);
}



.menu_block {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.menu_block .box_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.menu_block .box_wrap .box {
  width: 33%;
  padding: 30px;
}

.menu_category {
  padding: 0 0 5px;
  color: #b98e51;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
  font-size: 24px;
  font-size: 2.4rem;
  text-align: center;
  letter-spacing: 0.24em;
  position: relative;
  margin-bottom: 15px;
  margin-top: 140px;
}

.menu_category::after {
  content: "";
  border-bottom: 1px solid #b98e51;
  width: 80px;
  height: 1px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu_block .box_wrap .box .textbox {
  padding: 20px 15px 0;
}

.menu_block .box_wrap .box .textbox .box_title {
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.3em;
}

.left_area {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.left_area .posts_block {
  border-top: 1px solid #655046;
  border-bottom: 1px solid #655046;
}

.left_area .post_box {
  border-bottom: 1px dotted #b98e51;
}

.left_area .post_box .link_box {
  padding: 20px 0 20px 90px;
  position: relative;
}

.left_area .post_box .textbox .box_title {
  margin: 5px 0 0;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.6;
}

.cat_block {
  margin: 0 0 70px;
}

.cat_block .cat_list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.cat_block .cat_list li {
  margin: 0 0 10px -1px;
  border-left: 1px solid #f0ebea;
  border-right: 1px solid #f0ebea;
}

.cat_block .cat_list li a {
  min-width: 120px;
  height: 25px;
  padding: 0 10px;
  color: #655046;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
}

.blog_area .posts_block {
  margin: -40px 0 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.blog_area .posts_block .post_box {
  width: 33%;
  padding: 20px
}

.blog_area .post_box .link_box {
  display: block;
}

.blog_area .post_box .img_wrap {
  position: relative;
}

.blog_area .post_box .img_wrap .post_cat {
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 120px;
  height: 40px;
  padding: 0 10px;
  color: #8e6666;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.blog_area .post_box .textbox {
  margin: 20px 0 0;
}

.blog_area .post_box .textbox .meta_box .post_date {
  color: #a1928b;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0.34em;
}

.blog_area .post_box .textbox .box_title {
  margin: 5px 0 0;
  color: #655046;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: justify;
  letter-spacing: 0.34em;
}

.archive_title {
  margin: 0 auto 70px;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}

.main_area {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-bottom: 100px;
}

.main_area .left_area {
  width: 65%;
}

.main_area .right_area {
  width: 25%;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.post_single .cat_list {
  margin: 0 0 70px;
}

.post_single .cat_list li a {
  background: #b98e51;
  min-width: 140px;
  height: 30px;
  color: #ffffff;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  letter-spacing: 0.34em;
}

.post_single .main_block {
  padding: 0;
}

.post_single .main_block .meta_box {
  line-height: 1.0;
}

.post_single .main_block .meta_box .post_date {
  color: #a1928b;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  display: inline-block;
}

.post_single .main_block .post_title {
  border-bottom: 2px solid #b98e51;
  padding: 0 0 10px;
  margin: 20px 0 0;
  color: #b98e51;
  font-size: 26px;
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 1.8;
}

.post_single .main_block .post_content {
  margin: 60px 0 0;
}

.post_content {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  line-height: 2.2;
  letter-spacing: 0.1rem;
  overflow: hidden;
}

.post_single .back_link {
  margin: 20px 0 0;
}

.post_single .back_link .btn {
  background: #655046;
  border-radius: 5px;
  height: 60px;
  text-align: center;
}

.post_single .back_link .btn span {
  background-size: 20px auto;
  padding: 0 0 0 38px;
  color: #ffffff;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 0.2em;
  display: inline-block;
}

.single_nav_block {
  width: 100%;
  margin: 50px auto 0;
  display: table;
}

.single_nav_block .left_box {
  border-right: 1px solid #f0ebea;
}

.single_nav_block .nav_item {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}

.single_nav_block .nav_item span {
  background-size: 35px auto;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.single_nav_block .nav_item .next a {
  padding-left: 50px;
}

.single_nav_block .nav_item .prev a {
  padding-right: 50px;
  margin: 0 0 0 auto;
  text-align: right;
}

.single_nav_block .nav_item a {
  padding: 0 20px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.6;
  display: inline;
  vertical-align: middle;
  transition: 0.3s;
  position: relative;
}

.single_nav_block .nav_item .next a::before {
  content: "〈";
  text-indent: -8px;
  left: 0;
}

.single_nav_block .nav_item .prev a::before {
  content: "〉";
  text-indent: 12px;
  right: 0;
}

.single_nav_block .nav_item a::before {
  content: "";
  border: 1px solid #b98e51;
  width: 35px;
  height: 40px;
  margin: auto;
  color: #b98e51;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 38px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.type_side .category_block {
  margin-top: 0;
}

.type_side .block {
  margin: 60px 0 0;
}

.type_side .category_block .block_head {
  margin: 0;
}

.type_side .block .block_head {
  margin: 0 0 30px;
}

.title_type02 {
  background-size: 60px auto;
  border-bottom: 1px solid #b98e51;
  padding: 34px 0 12px;
  margin: 0 auto 30px;
  color: #b98e51;
  font-weight: normal;
  text-align: center;
  line-height: 1.4;
}

.title_type02 .en {
  font-family: 'henriette', sans-serif;
  font-size: 21px;
  font-size: 2.1rem;
  letter-spacing: 0.24em;
}

.title_type02 .jp {
  margin: 3px auto 0;
  font-size: 12px;
  font-size: 1.2rem;
}

.type_side .category_block .category_list li {
  border-bottom: 1px dotted #b98e51;
  padding: 0 15px 0 0;
  margin: 0;
  font-weight: bold;
  text-align: right;
  line-height: 47px;
  overflow: hidden;
}

.type_side .category_block .category_list li a {
  float: left;
  width: calc(100% - 50px);
  padding: 12px 0 12px 10px;
  color: #655046;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: left;
  line-height: 1.6;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}

.posts_block_small .post_box:first-child {
  margin-top: 0;
}

.posts_block_small .post_box {
  width: 100%;
  padding: 0;
  margin: 20px 0 0;
}

.posts_block_small .post_box .link_box {
  overflow: hidden;
}

.post_box .link_box {
  display: block;
}

.posts_block_small .post_box .img_wrap {
  float: left;
  width: 90px;
}

.post_box .img_wrap {
  position: relative;
}

.post_box .img_wrap .box_img img {
  width: 100%;
  max-width: initial;
}

.posts_block_small .post_box .img_wrap .post_cat {
  display: none;
}

.post_box .img_wrap .post_cat {
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 120px;
  height: 40px;
  padding: 0 10px;
  color: #8e6666;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.posts_block_small .post_box .textbox {
  margin: 0 0 0 100px;
}

.post_box .textbox {
  margin: 20px 0 0;
}

.posts_block_small .post_box .textbox .meta_box {
  display: none;
}

.posts_block_small .post_box .textbox .box_title {
  margin: 0;
  color: #6F5949;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.post_box .textbox .box_title {
  margin: 5px 0 0;
  color: #655046;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: justify;
  letter-spacing: 0.34em;
}

.post_content img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (min-width: 769px) {
  .pagination a.page-numbers {
    display: inline-block;
  }

  #container {
    position: relative;
    padding: 0 0 0 260px;
  }

  #main_header {
    width: 260px;
    height: 100vh;
    background: #8e6666;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    /*/*z-index: 12;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  #sub_header header {
    background: #8e6666;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0 0 0 50px;
    margin: 0 auto;
    display: flex;
  }

  #container header {
    width: 260px;
    height: 100vh;
  }

  #main_header .gnav .logo {
    width: 180px;
    min-height: 0%;
    margin: 0 auto;
  }

  #sub_header .gnav {
    padding: 0;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  #sub_header .gnav .logo {
    padding: 0;
    width:80px;
  }

  #main_header .h_nav {
    width: 60px;
    margin: 0px auto 0;
    position: relative;
    z-index: 1;
    color: #ffffff;
  }

  #sub_header .h_nav {
    padding: 0 0 0 15px;
    display: -webkit-flex;
    display: flex;
  }

  #main_headerheader .h_nav li {
    height: 60px;
  }

  #sub_header .h_nav li {
    height: 60px;
  }

  #main_header .h_nav li a {
    width: 65px;
    height: 65px;
    border: 1px solid #fff;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: all .5s;
    transition: all .5s;
    position: relative;
    text-align: center;
  }

  #sub_header .h_nav li a {
    color: #ffffff;
    padding: 25px 15px;
    text-align: center;
    line-height: 1.0;
    white-space: nowrap;
    display: block;
    cursor: pointer;
  }

  header .h_nav li {
    margin-top: 12px;
  }
  #sub_header header .h_nav li {
    margin-top: 0px;
  }

  header .h_nav li a .en {
    font-family: 'Cantarell', sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.18em;
    display: block;
  }

  header .h_nav li a .jp {
    margin-top: -5px;
    font-size: 10px;
    font-size: 1rem;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    font-weight: normal;
    letter-spacing: 0.24em;
    display: block;
  }

  #sub_header header .h_nav li a .jp {
    margin: 10px auto 0;
  }

  header .bottom_block .link_shop {
    text-align: center;
  }

  header .bottom_block .sns_list {
    padding: 0;
    margin: 0px auto 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }

  header .bottom_block .sns_list li {
    margin: 0 8px;

}

header .bottom_block p {
  width: 200px;
}

header .bottom_block p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  text-align: center;
  color: #d4d4d4;
  font-family: 'Cantarell', sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0.18em;
}

  header .right_block {
    margin: 0 0 0 auto;
    display: -webkit-flex;
    display: flex;
  }

  #mainvisual {
    height: 500px;
    padding: 80px 60px 0 60px;
    position: relative;
    /*z-index: -1;*/
  }

  #mainvisual .main_logo {
    position: absolute;
    /* top: 8px; */
    /* left: 34px; */
    z-index: 1;
    width: 300px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #mainvisual .main_visual {
    position: relative;
    left: 0px;
    top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    position: relative;
    border-radius: 50px;

  }

  #mainvisual .visual_text {
    font-size: 14px;
    font-size: 1.4rem;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    position: absolute;
    top: 12px;
    right: 12px;
    /*z-index: 2;*/
  }

  #mainvisual .visual_text span {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 5px;
    line-height: 3.4;
    letter-spacing: 0.34em;
  }

  #container .h_info {
    height: 67px;
    padding: 8px 0 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: #655046;
    min-width: 250px;
    color: #ffffff;
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.24em;
    overflow: hidden;

  }

  #container .h_info .tel {
    font-size: 14px;
    font-size: 1.4rem;
  }

  #container .h_info .time {
    font-size: 10px;
    font-size: 1rem;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  #sub_header .h_info {
    background-color: #655046;
    min-width: 250px;
    height: 80px;
    padding: 10px 0 0;
    color: #ffffff;
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.24em;
    overflow: hidden;
  }

  #sub_header .h_info .tel {
    font-size: 14px;
    font-size: 1.4rem;
  }

  #sub_header .h_info .time {
    font-size: 10px;
    font-size: 1rem;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  .pc_on {
    display: inline;
  }

  #contents {
    position: absolute;
    left: 0;
  }

  .panel_area .panel_btn_box,
  .panel_area .panel_wrap {
    display: none;
  }

  .second_nav .logo {
    padding: 10px 0;
    min-width: 70px;
  }
}

@media screen and (min-width: 1101px) {
  #mainvisual .main_visual {
    height: calc(100vh - 120px);
  }

  #mainvisual {
    height: 100vh;
  }

  #mainvisual .main_logo{
    width:400px;
  }
}

/*------------------------------------------------- SP版ここから -------------------------------------------------*/

@media screen and (max-width: 768px) {
  .main_area {
    width: 100%;
    padding: 0;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .main_area .left_area {
    width: 100%;
  }

  .main_area .right_area {
    display: none;
  }

  .post_single .cat_list {
    margin: 0 0 40px;
  }

  .post_single .cat_list li a {
    min-width: 100px;
    height: 26px;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 26px;
  }

  .post_single .main_block {
    padding: 0;
  }

  .post_single .main_block .post_title {
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.6;
  }

  .post_single .main_block .post_content {
    margin: 35px 0 0;
  }

  .post_single .back_link .btn {
    height: 50px;
  }

  .post_single .back_link .btn span {
    line-height: 50px;
  }

  .single_nav_block {
    min-height: 30px;
    margin: 40px auto 0;
  }

  .single_nav_block .nav_item {
    background-size: 30px auto;
  }

  .single_nav_block .nav_item span {
    background-size: 30px auto;
  }

  .single_nav_block .nav_item .next a {
    padding-left: 40px;
  }

  .single_nav_block .nav_item .prev a {
    padding-right: 40px;
  }

  .single_nav_block .nav_item .prev a::before {
    text-indent: 10px;
  }

  .single_nav_block .nav_item a {
    padding: 0 10px;
    font-size: 13px;
    font-size: 1.3rem;
  }

  .single_nav_block .nav_item a::before {
    width: 27px;
    height: 30px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 28px;
  }

  .cat_block .cat_list li a {
    min-width: 60px;
  }

  .blog_area .posts_block .post_box {
    width: 50%;
    padding: 0 10px;
    margin: 30px 0 0;
  }

  .blog_area .post_box .img_wrap .post_cat {
    min-width: 68px;
    height: 21px;
    font-size: 10px;
    font-size: 1rem;
    line-height: 21px;
  }

  .blog_area .post_box .textbox {
    margin: 12px 0 0;
  }

  .blog_area .post_box .textbox .meta_box .post_date {
    font-size: 10px;
    font-size: 1rem;
    letter-spacing: 0.2em;
  }

  .blog_area .post_box .textbox .box_title {
    font-size: 12px;
    font-size: 1.2rem;
    margin: 2px 0 0;
    letter-spacing: 0.2em;
  }

  .pagination .next,
  .pagination .prev {
    display: inline-block;
  }

  .left_area .post_box .link_box {
    padding: 20px;
  }

  .left_area .post_box .textbox .box_title {
    font-size: 16px;
    font-size: 1.6rem;
  }

  .jumbotron {
    height: 120px;
  }

  .jumbotron-overlay {
    height: 120px;
  }

  .jumbotron-content {
    padding-bottom: 0px;
    padding-top: 30px;
    text-align: center;
  }

  .jumbotron-title {
    margin: 0;
  }

  .subheader {
    font-size: 24px;
    font-size: 2.4rem;
  }

  .menu_block {}

  .menu_block .box_wrap {}

  .menu_block .box_wrap .box {
    width: 50%;
    padding: 20px;
    margin-top: 50px;
  }

  .menu_category {
    margin-top: 0px;
  }

  .menu_category::after {
    right: 0;
  }

  .menu_block .box_wrap .box .textbox {
    padding: 15px 5px 0;
  }

  .menu_block .box_wrap .box .textbox .box_title {
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: 0.2em;
  }
}

@media screen and (max-width: 768px) {
  #container {}

  body {
    min-width: 320px;
    max-width: 100%;
  }

  header {
    display: none;
  }

  #mainvisual .main_visual {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #mainvisual .main_logo .pc_on {
    display: none;
  }

  #mainvisual .main_visual .visual_text {
    display: none;
  }

  #container .h_info {
    display: none;
  }

  .drawer-hamburger {
    background-color: transparent;
    box-sizing: content-box;
    display: block;
    margin-right: -5px;
    outline: 0;
    padding: 12px 5px;
    transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    width: 21px;
    min-width: 21px;
    /*z-index: 102;*/
  }

  .drawer-hamburger:hover,
  .drawer-hamburger:focus {
    background-color: transparent;
  }

  .drawer-hamburger-icon {
    position: relative;
    display: block;
  }

  .drawer-hamburger-icon,
  .drawer-hamburger-icon:before,
  .drawer-hamburger-icon:after {
    background-color: #ffffff;
    height: 2px;
    transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    width: 100%;
    margin: auto;
  }

  .drawer-hamburger-icon:before,
  .drawer-hamburger-icon:after {
    position: absolute;
    left: 0;
    content: ' ';
  }

  .drawer-hamburger-icon:before {
    top: -6px;
  }

  .drawer-hamburger-icon:after {
    top: 6px;
  }


  .screen-reader-text-closed,
  .screen-reader-text-opened {
    white-space: nowrap;
    font-size: 5px;
    color: #FFFFFF;
    position: absolute;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    font-family: serif;
  }

  .screen-reader-text-opened {
    display: none;
  }

  .drawer-opened .drawer-hamburger-icon {
    background-color: transparent;
  }

  .drawer-opened .drawer-hamburger-icon:before,
  .drawer-opened .drawer-hamburger-icon:after {
    top: 0;
  }

  .drawer-opened .drawer-hamburger-icon:before {
    transform: rotate(45deg);
  }

  .drawer-opened .drawer-hamburger-icon:after {
    transform: rotate(-45deg);
  }

  .drawer-opened .screen-reader-text-closed {
    display: none;
  }

  .drawer-opened .screen-reader-text-opened {
    display: block;
  }

  .drawer-hamburger {
    padding: 15px 5px;
  }

  .drawer-hamburger-icon:before {
    top: -7px;
  }

  .drawer-hamburger-icon:after {
    top: 7px;
  }

  .panel_area .panel_btn_box {
    width: 50px;
    height: 50px;
    padding: 0;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2002;
    background-color: #8e6666
  }

  .drawer-opened .panel_btn_box {
    background-color: transparent;
  }

  .panel_area .panel_btn_box .panel_btn {
    cursor: pointer;

    box-sizing: content-box;
    display: block;
    outline: 0;
    transition: all .6s cubic-bezier(.19, 1, .22, 1);
    min-width: 21px;
    position: absolute;
    /* 位置指定 */
    top: 40%;
    /* 親要素の半分下にずらす */
    left: 50%;
    /* 親要素の半分右にずらす */
    transform: translateY(-50%) translateX(-50%);
  }

  .panel_area .panel_overlay {
    width: 100%;
    min-width: 320px;
    min-height: 600px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.5s;
    visibility: hidden;
  }

  .drawer-opened .panel_overlay {
    background: rgba(102, 142, 104, 0.95);
    z-index: 1000;
    visibility: visible;
  }

  .panel_area .panel_wrap {
    width: 100%;
    min-width: 320px;
    height: 100%;
    padding: 40px 0 55px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scroling: touch;
    opacity: 0;
    transition: all 0.5s;
    visibility: hidden;
  }

  .drawer-opened .panel_wrap {
    opacity: 1;
    z-index: 1001;
    visibility: visible;
  }

  .panel_area .panel_wrap .logo_box {
    width: 150px;
    margin: 0 auto;
  }

  .panel_area .panel_wrap .logo_box a {
    display: block;
  }

  .panel_area .panel_wrap .nav_block {
    width: 100%;
    margin: 0px auto 0;
    position: relative;
    overflow: hidden;
  }

  .panel_area .panel_wrap .nav_block .nav_list {
    max-width: 280px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .panel_area .panel_wrap .nav_block .nav_list>li {
    border-bottom: 1px solid #ffffff;
    width: 120px;
    margin: 10px 0 0;
  }

  .panel_area .panel_wrap .nav_block .nav_list>li:nth-child(odd) {
    margin-right: 40px;
  }

  .panel_area .panel_wrap .nav_block .nav_list>li a {
    padding: 10px 0;
    color: #ffffff;
    text-align: left;
    line-height: 1.0;
    display: block;
    cursor: pointer;
  }

  .panel_area .panel_wrap .nav_block .nav_list>li a .en {
    font-family: 'Cantarell', sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.18em;
    display: block;
  }

  .panel_area .panel_wrap .nav_block .nav_list>li a .jp {
    margin: 10px auto 0;
    font-size: 10px;
    font-size: 1rem;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -moz-transform-origin: left 50%;
    -ms-transform-origin: left 50%;
    -webkit-transform-origin: left 50%;
    transform-origin: left 50%;
    font-weight: normal;
    letter-spacing: 0.24em;
    display: block;
  }

  .panel_area .panel_wrap .nav_block .nav_list>li.shop {
    width: 100%;
    margin: 20px 0 0;
  }

  .panel_area .panel_wrap .nav_block .nav_list>li.shop a {
    padding-bottom: 15px;
    text-align: center;
  }

  .panel_area .panel_wrap .nav_block .nav_list>li.shop .label {
    padding: 0 0 0 35px;
    color: #FFF;
    font-family: 'Cantarell', sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    position: relative;
  }

  .panel_area .panel_wrap .nav_block .nav_list>li.shop .label::before {
    content: "";
    background-image: url("images/icon_cart01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 22px;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .panel_area .panel_wrap .bottom_block {
    margin: 40px auto 0;
  }

  .panel_area .panel_wrap .bottom_block .info_wrap {
    color: #ffffff;
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.24em;
  }

  .panel_area .panel_wrap .bottom_block .info_wrap .tel {
    font-size: 14px;
    font-size: 1.4rem;
  }

  .panel_area .panel_wrap .bottom_block .info_wrap .time {
    font-size: 10px;
    font-size: 1rem;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  .panel_area .panel_wrap .bottom_block .sns_list {
    margin: 40px auto 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .panel_area .panel_wrap .bottom_block .sns_list li {
    width: 26px;
    margin: 0 8px;
  }
}

/*------------------------------------------------- contents_index -------------------------------------------------*/
#contents_index {
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  #contents_index {
    padding: 0;
  }
}

#contents_index .anker {
  top: -20px;
}

#contents_index .blog_area {
  padding: 10px 0 80px 0;
}

#contents_index .blog_area .posts_block {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

#contents_index .blog_area .posts_block .post_box {
  width: 25%;
  padding: 10px;
}

#contents_index .blog_area .posts_block .post_box:nth-child(4n) {
  margin-right: 0;
}

#contents_index .blog_area .posts_block .post_box .link_box {
  display: block;
}

#contents_index .blog_area .posts_block .post_box .img_wrap {
  position: relative;
}

#contents_index .blog_area .posts_block .post_box .img_wrap .box_img img {
  width: 100%;
  max-width: initial;
}

#contents_index .blog_area .posts_block .post_box .img_wrap .post_cat {
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 90px;
  height: 30px;
  padding: 0 10px;
  color: #8e6666;
  font-size: 11px;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#contents_index .blog_area .posts_block .post_box .textbox {
  margin: 20px 0 0;
}

#contents_index .blog_area .posts_block .post_box .textbox .meta_box .post_date {
  color: #a1928b;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0.34em;
}

#contents_index .blog_area .posts_block .post_box .textbox .box_title {
  margin: 5px 0 0;
  color: #655046;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: justify;
  text-decoration: underline;
  letter-spacing: 0.34em;
}

#contents_index .blog_area .btn_box {
  margin: 50px auto 0;
}

@media screen and (max-width: 768px) {
  #contents_index .blog_area {
    padding: 40px 0 50px;
  }

  #contents_index .blog_area .posts_block {
    margin: -30px -10px 0;
  }

  #contents_index .blog_area .posts_block::before {
    content: none;
  }

  #contents_index .blog_area .posts_block .post_box {
    width: 50%;
    padding: 0 10px;
    margin: 30px 0 0;
  }

  #contents_index .blog_area .posts_block .post_box .img_wrap .post_cat {
    min-width: 68px;
    height: 21px;
    font-size: 10px;
    font-size: 1rem;
    line-height: 21px;
  }

  #contents_index .blog_area .posts_block .post_box .textbox {
    margin: 12px 0 0;
  }

  #contents_index .blog_area .posts_block .post_box .textbox .meta_box .post_date {
    font-size: 10px;
    font-size: 1rem;
    letter-spacing: 0.2em;
  }

  #contents_index .blog_area .posts_block .post_box .textbox .box_title {
    font-size: 12px;
    font-size: 1.2rem;
    margin: 2px 0 0;
    letter-spacing: 0.2em;
  }

  #contents_index .blog_area .btn_box {
    margin: 40px auto 0;
  }
}

#contents_index .about_area {
  background-size: contain;
  padding: 90px 0 280px;
}

#contents_index .about_area .area_wrap {
  display: -webkit-flex;
  display: flex;
}

#contents_index .about_area .area_wrap .area_title {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
  font-size: 34px;
  font-size: 3.4rem;
  letter-spacing: 0.34em;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  line-height: 2.3;
}

#contents_index .about_area .area_wrap .textbox {
  width: 660px;
  padding: 20px 0 0;
  margin: 0 0 0 90px;
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.3em;
  line-height: 2.5;
}

#contents_index .about_area .area_wrap .textbox p:not(:first-child) {
  margin-top: 40px;
}

#contents_index .about_area .area_wrap .textbox .link_box {
  margin: 30px 0 0;
  text-align: right;
}

@media screen and (max-width: 768px) {
  #contents_index .about_area {
    background-size: auto 280px;
    padding: 90px 0 190px;
  }

  #contents_index .about_area .area_wrap {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  #contents_index .about_area .area_wrap .area_title {
    font-size: 20px;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.24em;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
    line-height: 2.0;
  }

  #contents_index .about_area .area_wrap .textbox {
    width: 100%;
    padding: 25px 0 0;
    margin: 0;
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 0.28em;
    line-height: 2.2;
  }

  #contents_index .about_area .area_wrap .textbox p:not(:first-child) {
    margin-top: 35px;
  }

  #contents_index .about_area .area_wrap .textbox .link_box {
    margin: 40px 0 0;
    text-align: center;
  }
}

#contents_index .news_area {
  padding: 80px 0 85px;
  background: #f0ebea;
}

#contents_index .news_area .area_head {
  margin-bottom: 40px;
}

#contents_index .news_area .posts_block {
  width: 100%;
  margin: 0 auto;
}

#contents_index .news_area .posts_block .post_box:not(:first-child) {
  margin: 20px 0 0;
}

#contents_index .news_area .posts_block .post_box .link_box {
  font-size: 16px;
  font-size: 1.6rem;
  display: -webkit-flex;
  display: flex;
  letter-spacing: 0.34em;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 1120px) {
  #contents_index .news_area .posts_block .post_box .link_box {
    width: 720px;
  }
}


#contents_index .news_area .posts_block .post_box .post_date {
  width: 200px;
  color: #a1928b;
}

#contents_index .news_area .posts_block .post_box .left_box {
  flex-shrink: 0;
}

#contents_index .news_area .posts_block .post_box .box_title {
  text-decoration: underline;
}

#contents_index .news_area .btn_box {
  margin: 50px auto 0;
}

@media screen and (max-width: 768px) {
  #contents_index .news_area {
    padding: 55px 0 50px;
  }

  #contents_index .news_area .area_head {
    margin-bottom: 25px;
  }

  #contents_index .news_area .posts_block {
    width: 100%;
  }

  #contents_index .news_area .posts_block .post_box:not(:first-child) {
    margin: 20px 0 0;
  }

  #contents_index .news_area .posts_block .post_box .link_box {
    letter-spacing: 0.28em;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  #contents_index .news_area .posts_block .post_box .post_date {
    width: 100%;
    font-size: 12px;
    font-size: 1.2rem;
  }

  #contents_index .news_area .posts_block .post_box .box_title {
    font-size: 14px;
    font-size: 1.4rem;
  }

  #contents_index .news_area .btn_box {
    display: none;
  }
}

#contents_index .cafe_area {
  background-size: cover;
  padding: 90px 0 80px;
}

#contents_index .cafe_area .area_wrap {
  width: 480px;
  margin: 0 0 0 auto;
}

#contents_index .cafe_area .area_wrap .textbox {
  width: 100%;
  margin: 35px 0 0;
  color: #ffffff;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
  position: relative;
}

#contents_index .cafe_area .area_wrap .textbox .box_title {
  font-size: 22px;
  font-size: 2.2rem;
  letter-spacing: 0.24em;
}

#contents_index .cafe_area .area_wrap .textbox .text {
  margin: 20px 0 0;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 2.4;
  letter-spacing: 0.34em;
}

#contents_index .cafe_area .area_wrap .textbox .time {
  margin: 50px 0 0;
}

#contents_index .cafe_area .area_wrap .textbox .time::before {
  content: "";
  background-size: contain;
  width: 88px;
  height: 71px;
  position: absolute;
  top: -90px;
  right: 0;
}

@media screen and (max-width: 768px) {
  #contents_index {
    padding-top: 50px;
  }

  #contents_index .cafe_area {
    background-position: center bottom;
    padding: 40px 0 350px;
  }

  #contents_index .cafe_area .area_wrap {
    width: 100%;
    margin: 0 auto;
  }

  #contents_index .cafe_area .area_wrap .area_head {
    width: 178px;
    margin: 0 auto;
  }

  #contents_index .cafe_area .area_wrap .textbox {
    width: 100%;
  }

  #contents_index .cafe_area .area_wrap .textbox .box_title {
    font-size: 20px;
    font-size: 2rem;
    text-align: center;
  }

  #contents_index .cafe_area .area_wrap .textbox .text {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 2.0;
    letter-spacing: 0.34em;
  }

  #contents_index .cafe_area .area_wrap .textbox .time {
    margin: 30px 0 0;
    display: inline-block;
    position: relative;
  }

  #contents_index .cafe_area .area_wrap .textbox .time::before {
    width: 70px;
    height: 57px;
    top: -10px;
    right: -60px;
  }
}

#contents_index .menu_area {
  background: #f0ebea;
  padding: 60px 0 75px;
  position: relative;
}

#contents_index .menu_area .menu_wrap {
  display: -webkit-flex;
  display: flex;
}

#contents_index .menu_area .menu_wrap .block {
  width: 50%;
}

#contents_index .menu_area .menu_wrap .box {
  margin: 20px;
  position: relative;
}

#contents_index .menu_area .menu_wrap .box:hover .img_box img {
  transition: 2s;
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

#contents_index .menu_area .menu_wrap .box:hover .textbox {
  transition: 0.8s;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

#contents_index .menu_area .menu_wrap .box a {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

#contents_index .menu_area .menu_wrap .box .img_box img {
  transition: 2s;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

#contents_index .menu_area .menu_wrap .box .textbox {
  background: rgba(101, 80, 70, 0.5);
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.8s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

#contents_index .menu_area .menu_wrap .box .textbox .text {
  margin: auto;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.34em;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#contents_index .menu_area .menu_wrap .box .textbox .text .box_title {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.4;
}

#contents_index .menu_area .menu_wrap .box .textbox .text .price {
  margin: 8px auto 0;
  font-size: 16px;
  font-size: 1.6rem;
}

#contents_index .menu_area .menu_wrap .wrap_col2 {
  display: -webkit-flex;
  display: flex;
}

#contents_index .menu_area .menu_wrap .wrap_col2 .box {
  width: calc(50% - 40px);
}

#contents_index .menu_area .menu_wrap .wrap_col2 .box .textbox .text .box_title {
  font-size: 16px;
  font-size: 1.6rem;
}

#contents_index .menu_area .menu_wrap .wrap_col2 .box .textbox .text .price {
  font-size: 14px;
  font-size: 1.4rem;
}

#contents_index .menu_area .btn_box {
  margin: 50px auto 0;
}

@media screen and (max-width: 768px) {
  #contents_index .menu_area .menu_wrap {
    margin: -12px;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  #contents_index .menu_area .menu_wrap .block {
    width: 100%;
    max-width: 470px;
    margin: 0 auto;
  }

  #contents_index .menu_area .menu_wrap .box {
    margin: 12px;
  }

  #contents_index .menu_area .menu_wrap .wrap_col2 .box {
    width: calc(50% - 24px);
  }
}

#contents_index .info_area {
  padding: 100px 0 0;
  position: relative;
}

#contents_index .info_area .img_wrap {
  margin-bottom:40px;
}

#contents_index .info_area .area_img {
  width: 100%;
  height: 400px;
  background-position: 0;
  background-size: cover;
}

#contents_index .info_area iframe {
  width: 100%;
  height: 100%;
}

#contents_index .info_area .block_wrap {
  padding: 40px 60px 80px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

#contents_index .info_area .block_wrap .left_block {
  line-height: 2.0;
  letter-spacing: 0.34em;
}

#contents_index .info_area .block_wrap .left_block .shop_name {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
}

#contents_index .info_area .block_wrap .left_block .address {
  margin: 3px 0 0;
}

#contents_index .info_area .block_wrap .left_block .info_box:not(:first-child) {
  margin: 20px 0 0;
}

#contents_index .info_area .block_wrap .left_block .contact_wrap .contact_box {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
}

#contents_index .info_area .block_wrap .left_block .contact_wrap .contact_box .box_head {
  width: 80px;
  color: #8e6666;
  display: inline-block;
}

#contents_index .info_area .block_wrap .right_block {
  width: 400px;
  height: 320px;
  position: relative;
}

@media screen and (max-width: 1100px) {
  #contents_index .info_area .block_wrap .right_block {
    width: 400px;
    padding: 35px 0 0;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
  }

  #contents_index .info_area .block_wrap .left_block {
    margin-right: auto;
    margin-left: auto;
  }

  #contents_index .info_area .block_wrap {
    margin: 0 auto;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  #contents_index .info_area {
    padding: 30px 0 30px;
    position: relative;
  }

  #contents_index .info_area .area_img {
    height: 200px;
}

  #contents_index .info_area .img_wrap {
    padding: 0 0 8.8%;
    margin: 0 auto;
  }

  #contents_index .info_area .img_wrap .badge {
    width: 18%;
    height: auto;
    top: 65.5%;
    bottom: auto;
    left: 8%;
  }

  #contents_index .info_area .block_wrap {
    max-width: 400px;
    padding: 30px 10px 0;
    margin: 0 auto;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  #contents_index .info_area .block_wrap .left_block {
    padding: 0 10px;
    line-height: 1.8;
    letter-spacing: 0.22em;
  }

  #contents_index .info_area .block_wrap .left_block .info_box:not(:first-child) {
    margin: 10px 0 0;
  }

  #contents_index .info_area .block_wrap .left_block .contact_wrap .contact_box {
    line-height: 1.6;
  }

  #contents_index .info_area .block_wrap .left_block .contact_wrap .contact_box .box_head {
    width: auto;
    display: block;
  }

  #contents_index .info_area .block_wrap .left_block .contact_wrap .mail_box {
    margin: 10px 0 0;
    font-size: 15px;
    font-size: 1.5rem;
  }

  #contents_index .info_area .block_wrap .right_block {
    width: 100%;
    padding: 35px 0 0;
    height: 300px;
  }
}

.calendar_wrap .calendar_head {
  margin: 0 auto 20px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.34em;
}

.calendar_wrap .calendar_box {
  width: 400px;
  margin: -4px -4px 0 0;
}

.calendar_wrap .calendar_box:first-child {
  margin-top: 0;
}

.calendar_wrap .calendar_content {
  padding: 0;
  margin: 0;
  width: 400px;
  height: auto;
  text-align: center;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.calendar_wrap .calendar_content li {
  box-sizing: border-box;
  background-color: #f0ebea;
  width: calc(14.2857% - 8px);
  padding: 10px 0 10px 4px;
  margin: 4px;
  color: #655046;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.0;
  letter-spacing: 0.3em;
  list-style: none;
  overflow: hidden;
}

.calendar_wrap .calendar_content .label {
  background-color: #655046;
  color: #ffffff;
  font-weight: bold;
}

.calendar_wrap .calendar_content .prev {
  background: #ffffff;
  text-indent: -200%;
  overflow: hidden;
}

.calendar_wrap .calendar_content .next {
  background: #ffffff;
  text-indent: -200%;
  overflow: hidden;
}

.calendar_wrap .calendar_content .close,
.calendar_wrap .calendar_content .option01 {
  background-color: #8e6666;
  color: #ffffff;
}

.calendar_wrap .calendar_notice {
  margin: 12px 0 0 auto;
  color: #655046;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
  line-height: 1.0;
  letter-spacing: 0.2em;
}

.calendar_wrap .calendar_notice .calendar_sample {
  box-sizing: border-box;
  background-color: #8e6666;
  width: 34px;
  height: 22px;
  margin-right: 10px;
  line-height: 28px;
  display: inline-block;
  vertical-align: middle;
}

.calendar_wrap .link_calendar_edit {
  background-color: #c00079;
  width: 130px;
  height: 28px;
  margin: 0 auto;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  letter-spacing: 0.2em;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.calendar_wrap .link_calendar_edit a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.calendar_wrap .calendar_control {
  width: 400px;
  height: auto;
  margin: 10px auto 0;
  text-align: center;
}

.calendar_wrap .calendar_control table {
  width: 400px;
}

.calendar_wrap .calendar_control table td {
  text-align: center;
}

.calendar_wrap .calendar_control table td a {
  color: #c00079;
}

.calendar_wrap #calendar_form {
  width: 400px;
  height: auto;
  margin: 30px auto;
  text-align: center;
}

.calendar_wrap #calendar_form .comment_head {
  margin: 0 auto 10px;
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.8;
}

.calendar_wrap #calendar_form #cal_comment {
  width: 100%;
  height: 90px;
  padding: 5px 10px;
  line-height: 1.8;
}

.calendar_wrap #calendar_form #submit {
  background-color: #c00079;
  border: none;
  padding: 10px 20px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}

.calendar_wrap #calendar_form #submit:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .calendar_wrap {
    max-width: 400px;
  }

  .calendar_wrap .calendar_head {
    margin: 0 auto 10px;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.34em;
  }

  .calendar_wrap .calendar_box {
    float: none;
    width: 100%;
    margin: 0 auto;
  }

  .calendar_wrap .calendar_content {
    width: 100%;
    max-width: 398px;
    height: auto;
  }

  .calendar_wrap .calendar_content li {
    border-width: 2px;
    padding: 7px 0;
    margin: 3px;
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
  }

  .calendar_wrap .calendar_content li span {
    margin: 0 0 0 2px;
    font-size: 11px;
    font-size: 1.1rem;
  }

  .calendar_wrap .calendar_notice {
    width: 100%;
    max-width: 300px;
    margin: 10px 0 0 auto;
    text-align: right;
  }

  .calendar_wrap .calendar_notice .calendar_sample {
    width: 33px;
    height: 23px;
    font-size: 10px;
    font-size: 1rem;
    line-height: 20px;
  }

  .calendar_wrap .link_calendar_edit {
    margin: 0 auto;
    bottom: -10px;
  }

  .calendar_wrap .calendar_control {
    width: 100%;
    max-width: 300px;
  }

  .calendar_wrap .calendar_control table {
    width: 100%;
    max-width: 300px;
  }

  .calendar_wrap #calendar_form {
    width: 100%;
    max-width: 400px;
  }
}

.base_inner {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .base_inner {
    width: 100% !important;
    padding: 0 20px !important;
  }
}

.title_type01 {
  background-size: 60px auto;
  padding: 38px 0 0;
  margin: 0 auto 50px;
  color: #b98e51;
  font-family: 'henriette', sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: normal;
  text-align: center;
  line-height: 1.4;
  letter-spacing: 0.24em;
}

@media screen and (max-width: 768px) {
  .title_type01 {
    margin: 0 auto 25px;
    font-size: 18px;
    font-size: 1.8rem;
  }
}

.btn {
  margin: 0 auto;
  text-decoration: none;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}

.btn_type01 {
  background: #b98e51;
  width: 125px;
  height: 40px;
  padding: 0 0 0 20px;
  margin: 0 auto;
  color: #ffffff;
  font-family: 'Handlee', cursive;
  font-size: 20px;
  font-size: 2rem;
  font-weight: normal;
  text-align: left;
  line-height: 40px;
  letter-spacing: 0.2em;
  position: relative;
}

*,
::before,
::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn_type01::before {
  background-position: left center;
  left: -17px;
}

.btn_type01::after {
  background-position: right center;
  right: -17px;
}

.btn_type01::before,
.btn_type01::after {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: 0.3s;
}


#footer .footer {
  background: #655046;
  padding: 40px 140px;
}

#footer .footer .block_wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

#footer .footer .right_block {
  padding: 0;
}

#footer .footer .right_block .nav_area {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

#footer .footer .right_block .nav_area .f_nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

#footer .footer .right_block .nav_area .f_nav li {
  width: 100px;
  margin: 14px 0 0;
  line-height: 1.0;
}

#footer .footer .right_block .nav_area .f_nav li a {
  color: #ffffff;
  font-family: 'Cantarell', sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.18em;
}

#footer .footer .right_block .nav_area .sns_list {
  padding: 13px 0 0;
  display: -webkit-flex;
  display: flex;
}

#footer .footer .right_block .nav_area .sns_list li {
  margin: 0 8px;
}

#footer .footer .right_block .nav_area .sns_list li:first-child {
  margin-left: 0;
}

#footer .footer .right_block .nav_area .sns_list li:last-child {
  margin-right: 0;
}

#footer .footer .right_block .link_shop {
  margin: 15px 0 0;
}

#footer .footer .right_block .link_shop .label {
  padding: 0 0 0 35px;
  color: #FFF;
  font-family: 'Cantarell', sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  position: relative;
}

#footer .footer .right_block .link_shop .label::before {
  content: "";
  background-image: url("images/icon_cart01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 22px;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

#footer .footer .right_block .copyright {
  margin: 30px 0 0;
  color: #ffffff;
  font-size: 10px;
  font-size: 1rem;
  line-height: 1.0;
  letter-spacing: 0.34em;
  display: block;
}

@media screen and (max-width: 768px) {
  #footer .footer {
    padding: 30px 20px 25px;
  }

  #footer .footer .block_wrap {
    -webkit-justify-content: center;
    justify-content: center;
  }

  #footer .footer .left_block {
    display: none;
  }

  #footer .footer .right_block {
    padding: 0;
  }

  #footer .footer .right_block .nav_area {
    width: auto;
    -webkit-justify-content: center;
    justify-content: center;
  }

  #footer .footer .right_block .nav_area .f_nav {
    display: none;
  }

  #footer .footer .right_block .nav_area .sns_list {
    padding: 0;
  }

  #footer .footer .right_block .link_shop {
    display: none;
  }

  #footer .footer .right_block .copyright {
    margin: 15px 0 0;
    text-align: center;
    line-height: 2.0;
  }
}

@media screen and (max-width: 768px) {
  #wrap {
    padding: 0 0 50px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.8;
  }
}

.opa {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

.social-link-menu a:before {
  content: '\f0c1';
  margin-left: 0;
  margin-right: 4px;
}

.sns_list a:before {
  font-family: FontAwesome;
  font-weight: 900;
  font-size: 24px;
  color: #d4d4d4;
}

.panel_wrap .sns_list a:before {
  color: #ffffff;
}

.sns_list a[href*="behance.net"]:before {
  content: "\F1B4";
}

.sns_list a[href*="deviantart.com"]:before {
  content: "\F1BD";
}

.sns_list a[href*="digg.com"]:before {
  content: "\F1A6";
}

.sns_list a[href*="dribbble.com"]:before {
  content: "\F17D";
}

.sns_list a[href*="dropbox.com"]:before {
  content: "\F16B";
}

.sns_list a[href*="facebook.com"]:before {
  content: "\F230";
}

.sns_list a[href*="flickr.com"]:before {
  content: "\F16E";
}

.sns_list a[href*="foursquare.com"]:before {
  content: "\F180";
}

.sns_list a[href*="plus.google.com"]:before {
  content: "\F0D5";
}

.sns_list a[href*="github.com"]:before {
  content: "\F09B";
}

.sns_list a[href*="instagram.com"]:before {
  content: "\F16D";
}

.sns_list a[href*="linkedin.com"]:before {
  content: "\F30C";
}

.sns_list a[href*="medium.com"]:before {
  content: "\F23A";
}

.sns_list a[href*="pinterest.com"]:before {
  content: "\F231";
}

.sns_list a[href*="getpocket.com"]:before {
  content: "\F265";
}

.sns_list a[href*="reddit.com"]:before {
  content: "\F1A1";
}

.sns_list a[href*="skype.com"]:before,
.sns_list a[href*="skype:"]:before {
  content: "\F17E";
}

.sns_list a[href*="slideshare.net"]:before {
  content: "\F1E7";
}

.sns_list a[href*="snapchat.com"]:before {
  content: "\F2AB";
}

.sns_list a[href*="soundcloud.com"]:before {
  content: "\F1BE";
}

.sns_list a[href*="spotify.com"]:before {
  content: "\F1BC";
}

.sns_list a[href*="stumbleupon.com"]:before {
  content: "\F1A4";
}

.sns_list a[href*="tumblr.com"]:before {
  content: "\F173";
}

.sns_list a[href*="twitch.tv"]:before {
  content: "\F1E8";
}

.sns_list a[href*="twitter.com"]:before {
  content: "\F099";
}

.sns_list a[href*="vimeo.com"]:before {
  content: "\F27D";
}

.sns_list a[href*="vk.com"]:before {
  content: "\F189";
}

.sns_list a[href*="wordpress.org"]:before,
.sns_list a[href*="wordpress.com"]:before {
  content: "\F19A";
}

.sns_list a[href*="yelp.com"]:before {
  content: "\F1E9";
}

.sns_list a[href*="youtube.com"]:before {
  content: "\F16A";
}

.sns_list a[href$="/feed/"]:before {
  content: "\F09E";
}

.sns_list a[href*="mercari.com"]:before {
  content: "\f16b";
}